md-content.md-content.md-content_space
  md-button.md-raised(ng-repeat="item in $ctrl.items" ng-click="$ctrl.select($index+1)") элемент {{ $index + 1 }}
  item(
    ng-repeat='item in $ctrl.list track by $index'
    item='item'
    change="$ctrl.onChange"
  )
  result(list='$ctrl.list')