doctype html
html(data-ng-app="app" lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Quiz
    base(href="/")
    link(rel="stylesheet" href="/vendor/angular-material/angular-material.css")

    script(src="/vendor/angular/angular.min.js")
    script(src="/vendor/angular-animate/angular-animate.js")
    script(src="/vendor/angular-aria/angular-aria.js")
    script(src="/vendor/angular-messages/angular-messages.js")
    script(src="/vendor/angular-material/angular-material.js")
    script(src="/vendor/angular-mocks/angular-mocks.js")
  body
    app-root
